.heading{
  text-align: center;
}
.card-box{
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  gap: 2%;
}
.card-box > div{
  padding: 5%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.seperator{
  height: 5px solid #ccc;
  margin: 5% 0;
}

.cart-container{
  padding: 2% 5%;
  width: 60%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.cart-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-container{
  padding: 2% 5%;
  width: 60%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.cart-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button{
  cursor: pointer;
}